#inicio{
	background: #252525;
}
#contenido, #contenido2{
	margin-top: 25%;
}
.datosFooter{
	display: inline-block;
	width: 32%;
}
.datosFooter:nth-child(1), .datosFooter:nth-child(2){
	text-align: center;
}
.datosFooter:nth-child(3){
	text-align: right;
}
.informacion{
	border-collapse: collapse;
}
.informacion, 
.informacion th,
.informacion td{
	font-size: 14px;
	text-align: center;
	color:#000000;
	font-family:'arial';
	text-decoration:none;
}
.informacion th{
	font-weight: bold;
}
.informacion th, .informacion td{
	border-bottom:1px solid #000000;
}
.tabla{
	display: table;
	width: 100%;
}
.bordes{
	display: table-row;
}
.bordes div{
	font-size: 14px;
	border: 1px solid black;
	padding: 2px 3px;
	text-align: center;
	display: inline-block;
	vertical-align: top;
	width: 32%;
	margin-top: 0px;
	margin-bottom: 0px;
	height:100%;
}
.bordes div:nth-child(1){
	float:left;
}
.bordes div:nth-child(2){
	float:inherit;
}
.bordes div:nth-child(3){
	float:right;
}

.encabezado{
	font-weight: bold;
}

