<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
		xmlns:android = "http://schemas.android.com/apk/res/android"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.cae3076.Barcode"
        version     = "1.0.1"
        versionCode = "1" >
		<!-- versionCode is optional and Android only -->
		<preference name="phonegap-version" value="cli-6.5.0" />
        <preference name="SplashScreenDelay" value="5000" />
       
        <name>Modulación</name>
		<description>
            Aplicación de para leer código de barras de pedimento.
        </description>
		<author href="#" email="adominguez@cae3076.com">
            Adrián Domínguez
        </author>
        
		
		<icon src="img/icono2.png" />
		<splash src="img/cae-loe-splash.png"/>
       <gap:plugin name="cordova-plugin-whitelist" source="npm"/>
        
        <gap:plugin name="com.phonegap.plugins.barcodescanner" source="npm"/>
        <gap:plugin name="org.apache.cordova.network-information" source="npm"/>
        <gap:plugin name="org.apache.cordova.vibration" source="npm"/>
        <gap:plugin name="cordova-plugin-x-toast" source="npm" />
        <gap:plugin name="cordova-plugin-splashscreen" source="npm"/>

        <access origin="*"/>
        <allow-intent href="*"/>
        <allow-navigation href="*"/>
    </widget>
